.wrapper {
    position       : absolute;
    left           : 0;
    top            : 0;
    height         : 100%;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : auto;
    padding        : 1rem 0;
}

.icon {
    $size        : 80px;
    font-size    : $size;
    height       : $size;
    width        : $size;
    color        : green;
    margin-bottom: 1rem;
    display      : inline-block;
}

.canvas {
    margin-top: 0.5rem;

    .img-thumbnail {
        max-width : 100%;
        max-height: 200px;
    }
}