header {
    color: white;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }
}

.card-title {
    cursor: pointer;
}

.text-nowrap {
    overflow     : hidden;
    text-overflow: ellipsis;
}

.img {
    height : 100px;
    width  : 100%;
    display: inline-block;

    &.gift {
        height    : 150px;
        position  : relative;
        transition: all 0.4s ease-in-out;

        &:hover .overay {
            opacity: 1;
        }

        .overay {
            opacity         : 0;
            position        : absolute;
            left            : 0;
            top             : 0;
            height          : 100%;
            width           : 100%;
            background-color: rgba(0, 0, 0, .75);
            color           : white;
            display         : flex;
            justify-content : center;
            align-items     : center;
            transition      : all 0.4s ease-in-out;
            cursor          : pointer;
        }
    }

    img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
    }
}

.button-f {
    $buttonSize: 15px;
    position   : fixed;
    z-index    : 10;
    left       : $buttonSize;
    top        : $buttonSize;

    &.mb {
        top: $buttonSize + 65px;
    }

    &.ml {
        left: $buttonSize + 65px;
    }
}

.card {
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.firework-box {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : fixed;
    left           : 0;
    top            : 0;
    width          : 100%;
    height         : 100%;
    z-index        : 10000;
    opacity        : 0.75;
}

.close,
.delete {
    position  : absolute;
    top       : 4px;
    font-size : 16px;
    height    : 16px;
    width     : 16px;
    cursor    : pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: red;
    }
}

.close {
    right: 4px;
}

.delete {
    left: 4px;
}

:host ::ng-deep {
    .qrcode {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        svg {
            width : 250px;
            height: 250px;
        }
    }
}