body {
    background-color: #B00912;
    width           : 100%;
    height          : 100%;
    position        : fixed;
    left            : 0;
    top             : 0;
    overflow        : auto;

    app-root {
        display            : block;
        background-image   : url(assets/images/bg3.jpeg);
        background-repeat  : no-repeat;
        background-size    : 100% 100%;
        background-position: center center;
        position           : absolute;
        left               : 0;
        top                : 0;
        width              : 100%;
        height             : 100%;
    }
}

.mat-form-field {
    line-height: normal;
}